/* Footer */
footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}
#footer-block {
	margin-top: 25px;
	padding: 5px 0;
}
#copyright {
	color: white;

	&:after{
		content: ' Design by Vinrobot.'
	}
}